################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide-wal
*.ide-shm
*.ide
*.suo
obj
.vs
bin
packages